{%  extends 'base.html.twig' %}

{% block title 'A Propos | ' ~ parent()  %}

 {% block body %}

    <h1 class="mt-12">Fait par Bilel</h1>
     <p class="mt-12"><a href="{{ path('app_homes') }}">Retour à la page d'accueil</a></p>
 {% endblock %}