{%  extends 'base.html.twig' %}

 {% block body %}
 <h1>Coucou de Lyon ! </h1>

     <p>Il est actuellement {{ 'now'|date('H:i') }}.</p>

     <footer>

         <p>
             &copy Copyright {{ 'now'|date('Y') }} &middot;
             <a href="#"> A Propos</a>
         </p>
     </footer>
 {% endblock %}